<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="/ckeditor/build/content.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/icons/bootstrap-icons.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    
</head>
<body>
    
    <header>
        <div class="logo"><img src="https://zcoding.io/wp-content/uploads/2022/11/zcoding-logo-4.png" alt="ZCoding"></div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/articles">Articles <i class="bi bi-arrow-down-short"></i></a>
                    <ul>
                        <li><a href="/category/zoho-crm">Zoho CRM</a></li>
                        <li><a href="/category/zoho-books">Zoho Books</a></li>
                        <li><a href="/category/zoho-flow">Zoho Flow</a></li>
                        <li><a href="/category/zoho-creator">Zoho Creator</a></li>
                        <li><a href="/category/zoho-desk">Zoho Desk</a></li>
                        <li><a href="/category/zoho-people">Zoho People</a></li>
                    </ul>
                </li>
                <li><a href="/custom">Custom Integration</a></li>
                <li><a href="/videos">Videos</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
        <div class="userLinks">
            <a href="#">Login</a>
        </div>
    </header>